---
import Exploration from "./Exploration.astro";
import VideoCard from "./Video.astro";
---

<Exploration />

<section
	class="grid grid-cols-1 lg:grid-cols-2 gap-6 md:gap-8 mb-12"
	aria-label="Videos destacados"
>
	<!-- Video 1 - Usa el ID del video de YouTube -->
	<VideoCard
		videoId="El42s6Ns_KE"
		alt="Performance artística con música y danza tradicional"
	/>
	<!-- Video 1 - Usa el ID del video de YouTube -->
	<VideoCard
		videoId="dgbdXBZiUww"
		alt="Performance artística con música y danza tradicional"
	/>
</section>
